extends global

block styles
  link(rel='stylesheet', href='/css/home.css')

block scripts
  script(src='/js/home.js' type='text/javascript')

block content
  div#fb-root
  span.hint Psst! See the time icon at the bottom of your bookmarks? <b>Click it.</b>
  div.overlay
  img(src='/img/favicon.ico').pinIcon
  div.page
    ul.overall
      li.title
        div.titleContainer
          div.titlePart
            a.titleLink(href='/home') Tabloid
            span.personal  for #{user.name.firstname}. 
          div.navLinks
            a#pinToggle(href='#') Tab a new link
            &nbsp; &nbsp;
            a(href='/logout') Logout
      li.pin
        div.formContainer
          div.find
            strong Start with a link to the website
            form(action='' method='POST' id='findForm')
              input(type='text', id='url', placeholder='http://')
              button(type='submit', name='submit')#find Next
              span.loading Finding website...
          div.tagAndSave
            div.previewBox
              form(action='/home/pin' method='POST' id='pinForm')
                input(type='hidden', id='url', placeholder='http://', value='').link
                input(type='hidden', id='image', placeholder='image', value='').image
                ul
                  li.titleBox
                    input(type='text', id='title', placeholder='title of page', value='').title
                  li.note
                    input(type='text', id='note', placeholder='small note (optional)').note
                  li.tags
                    input(type='text', id='tags', placeholder='tags (seperate with commas) (optional)').tags
                  li.picture
                  li.finish
                    button(type='submit', name='submit') Save link
            div.imageOptions
          div.errors
      li.body
        ul.main
          li.holder
            span Fetching
          li.links
            for link in user.links
              div.flip-container
                div.flipper
                  div.linkBox
                    input(type='hidden', id='bounceUrl', value='#{link.url}')
                    ul
                      li.titleBox
                        span #{link.title}
                      unless !link.note
                        li.note
                          span #{link.note}
                        unless !link.tags || !link.tags.length
                          li.break.tags
                      unless !link.tags || !link.tags.length
                        li.tags
                          for tag in link.tags
                            a(href='/home?tag=#{tag}').tagLink
                              span.tag #{tag.length < 48 ? tag : tag.slice(0, 45) + '...'}
                        unless !link.image
                          li.break
                      unless !link.image
                        li.picture
                            img(src='#{link.image}' style='max-width: 295px')
                      unless link.image
                        li.break.main
                      li.matches
                        span.icon-tag
                        a(href='#').other #{user.linkMap[link.url] - 1} other #{user.linkMap[link.url] - 1 === 1 ? 'person' : 'people'} bookmarked this
                      li.url
                        span.icon-world-2
                        a(href='#{link.url.slice(0, link.url.indexOf(":"))}://#{link.miniUrl}' target="_blank").link #{link.miniUrl}
                      li.date
                        span.icon-time
                        span.time #{moment(link.added).fromNow()}
                      li.change
                        a(href='/home/delete/#{link._id}').deleteLink Delete
                        input(type='hidden', id='deleteLinkBounce', value='/home/delete/#{link._id}')
                      li.tagsBox
                        form(id='tagsBoxForm' action='#' method='POST')
                          input(type='text', id='tags', placeholder='tags (seperate with commas)').tags
                          br
                          button(type='submit', name='submit') Save tags
                  div.backside
                    div.inside
                      div.inthebox
                        //
                          div.fb-share-button(data-href="#{link.url}")
                          a(href="https://twitter.com/share" class="twitter-share-button" data-url="#{link.url}" data-count="none" data-hashtags="enthusiast") Tweet
                        a(href='#' data-url='#{link.url}' data-title='#{link.title}' data-note='#{link.note}' data-tags='#{link.tags}' data-image='#{link.image}').updateLink Update
                        span.dotdivider
                          | .
                        a(href='/home/delete/#{link._id}').deleteLink Delete
                        span.dotdivider
                          | .
                        a(href='#').easterEggToggle Done
            else
              div.noLinks
                span You have no links!
                button(type='button' id='addNewLink') Add one now
          li.tagsList
            div.tags
              a(href='/home').tagLink
                span(class=(tagSelected ? '' : 'active')) All Tags
              for tag in user.tags
                a(href='/home?tag=#{tag}').tagLink
                  span(class=(tagSelected === tag ? 'active' : '')) #{tag.length < 17 ? tag : tag.slice(0, 14) + '...'}
                  br
    ul.sidebar
      li
        img(src='/img/library2.png').active
      li
        img(src='/img/popular.png')


  script.
    var Locals = {
      clickedTimeIcon: '#{user.clickedTimeIcon}' === 'true'
    }